Options +FollowSymLinks -MultiViews

RewriteEngine On

# For blog-details.php file forward to post-name.html.

RewriteRule ^([a-zA-Z0-9-/]+).html$ blog-detail.php?url=$1
RewriteRule ^([a-zA-Z0-9-/]+).html/$ blog-detail.php?url=$1


# Blog Pagination forward to page-1

RewriteRule ^page-([a-zA-Z0-9-/]+)$ index.php?page=$1
RewriteRule ^page-([a-zA-Z0-9-/]+)/$ index.php?page=$1

# Tag view forward to 

RewriteRule ^([a-zA-Z0-9-/]+)$	tag-view.php?tag_name=$1

# Tag-view Pagination forward to page-1

RewriteRule ^tag-result-([a-zA-Z0-9-/]+)$ tag-view.php?page=$1
RewriteRule ^tag-result-([a-zA-Z0-9-/]+)/$ tag-view.php?page=$1		

