RewriteEngine On

RewriteRule ^([a-zA-Z0-9-/]+).html$ blog-detail.php?url=$1
RewriteRule ^([a-zA-Z0-9-/]+).html/$ blog-detail.php?url=$1

RewriteRule ^page-([a-zA-Z0-9-/]+)$ index.php?page=$1
RewriteRule ^page-([a-zA-Z0-9-/]+)/$ index.php?page=$1
